# Contents of /etc/systemd/system/goveebttemplogger.service
[Unit]
Description=InfluxDBWindSVG service
After=influxdb.service
Requires=influxdb.service
StartLimitBurst=5
StartLimitIntervalSec=33

[Service]
Type=simple
Restart=always
RestartSec=1min 30s
ExecStartPre=/bin/mkdir --parents /var/cache/InfluxDBWindSVG
ExecStart=/usr/local/bin/influxdbwindsvg \
	--verbose 0 \
	--wind \
	--pressure \
	--host localhost --port 8086 --database sola \
	--svg /var/www/html/mrtg --minmax 15 \
	--cache /var/cache/InfluxDBWindSVG
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
