# Contents of /etc/systemd/system/goveebttemplogger.service
[Unit]
Description=InfluxDBWindSVG service
After=influxdb.service
Requires=influxdb.service
StartLimitBurst=5
StartLimitIntervalSec=33

[Service]
Type=simple
Restart=always
RestartSec=5
Environment="VERBOSITY=0"
Environment="DBARGS=--host localhost --port 8086 --database sola"
Environment="SVGARGS=--svg /var/www/html/mrtg --minmax 15"
Environment="EXTRAARGS=--cache /var/cache/InfluxDBWindSVG/influxdbwind.txt"
ExecStart=/usr/local/bin/influxdbwindsvg -v ${VERBOSITY} $DBARGS $SVGARGS $EXTRAARGS
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
