Package: InfluxDBWindSVG
Version: 1.20230904-1
Section: custom
Priority: optional
Architecture: arm64
Essential: no
Installed-Size: 95
Maintainer: wcbonner@users.noreply.github.com
Description: Retrieves Apparent Wind Data from Influx Database and creates SVG files
Depends: 
Homepage: https://github.com/wcbonner/influxd-wind-svg
